.footer {
	height: 10rem;
	width: 100vw;
	background-image: linear-gradient(to bottom left, #ff4654, #1c252e);
	text-align: left;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer p {
	font-family: "Poppins", sans-serif;
	font-size: 1.2;
	color: #f9f9f9;
}

.icon {
	width: 2rem;
	height: 2rem;
}
