.footer {
	background-image: linear-gradient(to bottom left, #ff4654, #1c252e);
	text-align: left;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	/* position: absolute;
	bottom: 0%;
	left: 0%; */
}

.footer p {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	color: #f9f9f9;
}

.icon {
	width: 2rem;
	height: 2rem;
}

@media screen and (max-width: 1000px) {
	.footer p {
		font-size: 0.8rem;
	}
	.footer {
		text-align: center;
		flex-direction: column;
		justify-content: center;
	}
}
