.home {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.hero {
	background-image: url("../assets/valorant-blank-bg2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character-container img {
	width: 40rem;
	height: 40rem;
	/* background-size: cover;
	background-position: center;
	background-repeat: no-repeat; */
	animation: slide-right 0.5s ease-in-out forwards;
}

/* .slide-enter {
	opacity: 0;
	transform: translateX(100vw);
}

.slide-enter-active {
	opacity: 1;
	transform: translateX(100vw);
}

.slide-exit {
	opacity: 1;
	transform: translateX(0%);
}

.slide-exit-active {
	opacity: 0;
	transform: translateX(-100vw);
} */

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateX(150%);
	}
	50% {
		opacity: 1;
		transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@media screen and (max-width: 450px) {
	.character-container img {
		width: 20rem;
		height: 40rem;
	}
}
