.container {
	background-color: #f0d1d4fd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 6rem;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.title div {
	width: 70%;
	height: 4px;
	background-color: #1c252e;
}

.title h1 {
	margin: 0;
	font-family: "Koulen", cursive;
	font-weight: 400;
	font-size: 2rem;
	letter-spacing: 1px;
	color: black;
}

.features {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
